.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-bottom: 4rem;
}

.faq {
    color: var(--color--white);
    font-size: 50px;
    font-weight: 500;
    font-family: "Poppins";
}