.albumDiv {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100vw;
    background-color: var(--color--black);
}

.newAlbumContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    padding: 16px 31px 0px 31px;
    gap: 32px;
}